@{
    ViewData["Title"] = "Home Page";
}
@section styles {

}

    <div class="order-form">
        <h3>
            To get an order <br /> complete the form below:
        </h3>
        
    </div>

@section scripts {

}
