@{
    ViewData["Title"] = "Home Page";
}
@section styles {

}

    <div>
        <div class="main-content">
            <div class="main-image-title">
                <h2>Private detectives <br /> For every businesses <br /> and confident investigations</h2>
                <p>Make an order now:</p>
                <a href="#">Make an order now</a>
            </div>
            
        </div>

        <section class="info-about-company">
            <h2>
                What about us:
            </h2>
            <div class="section-container">
                <div class="section-container-wrapper">
                    <div class="section-title">
                        <p>
                            We have already investigated <br />over the <span>2300+</span> businesses <br />
                            You can check out it down <a href="#">here:</a>
                        </p>
                    </div>
                    <div class="img">
                        <img src="~/images/lupa.jpg" width="500" />
                    </div>
                </div>

                <div class="section-container-wrapper">
                    <div class="img">
                        <img src="~/images/review.jpg" width="500" />
                    </div>
                    <div class="section-title">
                        <p>
                            More than <span>3000+</span> <br /> positive reviews <br />
                            Check out our blog down <a href="#">here:</a>
                        </p>
                    </div>
                </div>
                <div class="section-container-wrapper">
                    <div class="section-title">
                        <p>
                            We have more than <span>100+</span> <br />private detectives and investigators
                            have been working <br /> in 
                            our company 
                        </p>
                    </div>
                    <div class="img">
                        <img src="~/images/private-detective.jpg" width="500" />
                    </div>
                </div> 
            </div>

        </section>
    </div>

@section scripts {

}
