@{
    ViewData["Title"] = "Map Page";
}
@section styles {

}

    <div class="MapPage-container">
        <h2>Where you can find us:</h2>
        <div class="map-container">
            <iframe id="embed-map" height="520" frameborder="0" style="width: 90%;"
                    src="https://www.google.com/maps/embed/v1/place?q=ул.+Мониторная,+7,+Днипро,+Днепропетровская+область,+49000&key=AIzaSyCPuBPgIDvWri00r-8j5PndBV7shw3VaVI"></iframe>
        </div>
            
    </div>

@section scripts {

}
